# Prepare data for custom app

In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

#### Import plant simulation

In [2]:
cols=['Timestamp',\
        'plant','PlantStatus','yield', 'defectiveProd','energyCons', \
        'Machine','MachineStatus','MachineEnergyConsumption (kW)', 'MachineFaultProb', 'MachineBreakDownProb', 'MachineDefectsRate', 'MachineYield', 'MachineNoise' ,\
        'MachineCyclicMaintenance','MachineCorrectiveMaintenance','MachineProactiveMaintenance']
df=pd.read_csv('csv/sim_LGP_factory.csv',names=cols,low_memory=False)
df

,Timestamp,plant,PlantStatus,yield,defectiveProd,energyCons,Machine,MachineStatus,MachineEnergyConsumption (kW),MachineFaultProb,MachineBreakDownProb,MachineDefectsRate,MachineYield,MachineNoise,MachineCyclicMaintenance,MachineCorrectiveMaintenance,MachineProactiveMaintenance
0,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300010,OK,3.976062,0.001,0.00001,0.002985,498.369284,0,NaN,NaN,NaN
1,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300020,OK,12.725559,0.001,0.00001,0.006062,158.911788,0,NaN,NaN,NaN
2,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300031,OK,1.993850,0.001,0.00001,0.000099,295.684794,0,NaN,NaN,NaN
3,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300032,OK,2.015637,0.001,0.00001,0.000100,302.772354,0,NaN,NaN,NaN
4,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300033,OK,1.997715,0.001,0.00001,0.000101,298.824697,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157051,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300032,OK,2.040393,0.001,0.00001,0.000100,303.309508,0,NaN,NaN,NaN
157052,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300033,OK,1.986307,0.001,0.00001,0.000100,297.879454,0,NaN,NaN,NaN
157053,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300034,OK,1.978334,0.001,0.00001,0.000099,303.145147,0,NaN,NaN,NaN
157054,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300035,OK,1.999829,0.001,0.00001,0.000100,297.631981,0,NaN,NaN,NaN
157055,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300036,OK,2.030244,0.001,0.00001,0.000100,305.731744,0,NaN,NaN,NaN

#### Import maintenance orders history

In [ ]:
cols=['start_time',\
              'end_time',\
              'Plant',\
              'equipment_nr',\
              'maint_nr',\
              'cost',\
              'duration']
df2=pd.read_csv('csv/maintenance_LGP_factory.csv',names=cols,low_memory=False)
df2

#### For Smart Factory Custom App

In [3]:
out1_path='csv/sap.smartfactory-PlantConditions.csv'
out2_path='csv/sap.smartfactory-EquipmentConditions.csv'

In [4]:
template1='../sustainable-smart-factory-app/db/data/sap.smartfactory-PlantConditions.csv'
template2='../sustainable-smart-factory-app/db/data/sap.smartfactory-EquipmentConditions.csv'
t1=pd.read_csv(template1,sep=";")
t2=pd.read_csv(template2,sep=";")
t1

,ID,recStartedAt,recEndedAt,plant,plantStatus,date,shift,yield,defectiveProd,energyCons
0,1,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,Normal,2020-01-01,0,1124.836370,10.792175,199.665902
1,2,2020-01-01 08:00:00,2020-01-01 16:00:00,1010,Normal,2020-01-01,1,1282.339197,12.331281,227.747063
2,3,2020-01-01 16:00:00,2020-01-02 00:00:00,1010,Normal,2020-01-01,2,1286.619992,12.309624,228.088926
3,4,2020-01-02 00:00:00,2020-01-02 08:00:00,1010,Normal,2020-01-02,0,1274.889378,12.212085,227.526962
4,5,2020-01-02 08:00:00,2020-01-02 16:00:00,1010,Normal,2020-01-02,1,1277.018276,12.261960,228.298668
...,...,...,...,...,...,...,...,...,...,...
2450,2451,2022-03-27 16:00:00,2022-03-28 00:00:00,1010,Normal,2022-03-27,2,1276.830902,12.204133,228.182545
2451,2452,2022-03-28 00:00:00,2022-03-28 08:00:00,1010,Normal,2022-03-28,0,1273.868018,12.236097,227.955529
2452,2453,2022-03-28 08:00:00,2022-03-28 16:00:00,1010,Normal,2022-03-28,1,1280.821395,12.348870,228.446626
2453,2454,2022-03-28 16:00:00,2022-03-29 00:00:00,1010,Normal,2022-03-28,2,1273.337556,12.197699,228.119533
2454,2455,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,Normal,2022-03-29,0,157.170959,1.501550,28.824625

#### aggregate by 8h shifts

In [5]:
df['recStartedAt']=df['Timestamp']
df['Timestamp']=pd.to_datetime(df['Timestamp'])
df=df.fillna('-')
df['shift']=0
df['hour']=df['Timestamp'].apply(lambda x: x.hour)
df.loc[df['hour']>=8,'shift']=1
df.loc[df['hour']>=16,'shift']=2

df['date']=df['recStartedAt'].apply(lambda x: x.split(' ')[0])
df['recEndedAt']=df['Timestamp'].apply(lambda x : str(x+timedelta(hours=1)))
df

,Timestamp,plant,PlantStatus,yield,defectiveProd,energyCons,Machine,MachineStatus,MachineEnergyConsumption (kW),MachineFaultProb,...,MachineYield,MachineNoise,MachineCyclicMaintenance,MachineCorrectiveMaintenance,MachineProactiveMaintenance,recStartedAt,shift,hour,date,recEndedAt
0,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300010,OK,3.976062,0.001,...,498.369284,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
1,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300020,OK,12.725559,0.001,...,158.911788,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
2,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300031,OK,1.993850,0.001,...,295.684794,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
3,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300032,OK,2.015637,0.001,...,302.772354,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
4,2020-01-01 01:00:00,1010,1,158.911788,1.53324,28.720926,220300033,OK,1.997715,0.001,...,298.824697,0,-,-,-,2020-01-01 01:00:00,0,1,2020-01-01,2020-01-01 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157051,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300032,OK,2.040393,0.001,...,303.309508,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157052,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300033,OK,1.986307,0.001,...,297.879454,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157053,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300034,OK,1.978334,0.001,...,303.145147,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157054,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300035,OK,1.999829,0.001,...,297.631981,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00
157055,2022-03-29 00:00:00,1010,1,157.170959,1.50155,28.824625,220300036,OK,2.030244,0.001,...,305.731744,0,-,-,-,2022-03-29 00:00:00,0,0,2022-03-29,2022-03-29 01:00:00

In [35]:
df['MachineStatus'].unique()

array(['OK', 'NONOK', 'BROKEN'], dtype=object)

In [6]:
df['BROKEN']=0
df.loc[df['MachineStatus']=='BROKEN','BROKEN']=1
df['MAINTENANCE']=0
df.loc[df['PlantStatus']==0,'MAINTENANCE']=1

In [7]:
df['RUNNING']=0
df.loc[df['PlantStatus']==1,'RUNNING']=1
df['FAULT']=0
df.loc[df['MachineNoise']==1,'FAULT']=1

In [8]:
conditions=['BROKEN','MAINTENANCE','RUNNING','FAULT']
measures=['yield','defectiveProd','energyCons']

aggregations={}
for c in conditions:
    aggregations[c]=np.max
aggregations['recStartedAt']=np.min
aggregations['recEndedAt']=np.max

out1=df.groupby(['date','shift','plant'],as_index=False).agg(aggregations)

out2=df.drop_duplicates(['Timestamp','plant'])
out2=out2.groupby(['date','shift','plant'],as_index=False)[measures].sum()

In [9]:
out1['plantStatus']='Normal'
out1.loc[   out1['BROKEN']==1 , 'plantStatus' ]= 'Break Down'
out1.loc[ ( out1['BROKEN']==0 ) & ( out1['MAINTENANCE']==1 ) , 'plantStatus' ]= 'Maintenance'
out1.loc[ ( out1['BROKEN']==0 ) & ( out1['MAINTENANCE']==0 ) & ( out1['FAULT']==1 ) & ( out1['date']>='2021' )  , 'plantStatus' ]= 'Fault'

In [10]:
out1_cols=['recStartedAt', 'recEndedAt','plant', 'plantStatus','date','shift']
out2_cols=['date','shift','plant']+measures

In [11]:
out1=pd.merge(out1[out1_cols] ,out2[out2_cols],how='left',on=['date','shift','plant'])
out1

,recStartedAt,recEndedAt,plant,plantStatus,date,shift,yield,defectiveProd,energyCons
0,2020-01-01 01:00:00,2020-01-01 08:00:00,1010,Normal,2020-01-01,0,1124.836370,10.792175,199.665902
1,2020-01-01 08:00:00,2020-01-01 16:00:00,1010,Normal,2020-01-01,1,1282.339197,12.331281,227.747063
2,2020-01-01 16:00:00,2020-01-02 00:00:00,1010,Normal,2020-01-01,2,1286.619992,12.309624,228.088926
3,2020-01-02 00:00:00,2020-01-02 08:00:00,1010,Normal,2020-01-02,0,1274.889378,12.212085,227.526962
4,2020-01-02 08:00:00,2020-01-02 16:00:00,1010,Normal,2020-01-02,1,1277.018276,12.261960,228.298668
...,...,...,...,...,...,...,...,...,...
2450,2022-03-27 16:00:00,2022-03-28 00:00:00,1010,Normal,2022-03-27,2,1276.830902,12.204133,228.182545
2451,2022-03-28 00:00:00,2022-03-28 08:00:00,1010,Normal,2022-03-28,0,1273.868018,12.236097,227.955529
2452,2022-03-28 08:00:00,2022-03-28 16:00:00,1010,Normal,2022-03-28,1,1280.821395,12.348870,228.446626
2453,2022-03-28 16:00:00,2022-03-29 00:00:00,1010,Normal,2022-03-28,2,1273.337556,12.197699,228.119533
2454,2022-03-29 00:00:00,2022-03-29 01:00:00,1010,Normal,2022-03-29,0,157.170959,1.501550,28.824625

In [12]:
out1=out1.reset_index().rename(columns={'index':'ID'})
out1['ID']=out1['ID']+1

In [36]:
out2=df.groupby(['date','shift','Machine'],as_index=False).agg(aggregations)
out2=out2[['recStartedAt', 'recEndedAt','Machine']+conditions].rename(columns={'Machine':'equipment_nr'})
out2.head(5)

,recStartedAt,recEndedAt,equipment_nr,BROKEN,MAINTENANCE,RUNNING,FAULT
0,2020-01-01 01:00:00,2020-01-01 08:00:00,220300010,0,0,1,0
1,2020-01-01 01:00:00,2020-01-01 08:00:00,220300020,0,0,1,0
2,2020-01-01 01:00:00,2020-01-01 08:00:00,220300031,0,0,1,0
3,2020-01-01 01:00:00,2020-01-01 08:00:00,220300032,0,0,1,0
4,2020-01-01 01:00:00,2020-01-01 08:00:00,220300033,0,0,1,0

In [37]:
out2['equipmentStatus']='OK'
out2.loc[ (out2['BROKEN']==0) & (out2['MAINTENANCE']==1)  , 'equipmentStatus']='MN'
out2.loc[ (out2['FAULT']==1) & (out2['RUNNING']==1) & (out2['recStartedAt']>='2021') ,'equipmentStatus']='FL'
out2.loc[ out2['BROKEN']==1, 'equipmentStatus']='BD'

In [39]:
out2.columns

Index(['recStartedAt', 'recEndedAt', 'equipment_nr', 'BROKEN', 'MAINTENANCE',
       'RUNNING', 'FAULT', 'equipmentStatus'],
      dtype='object')

In [40]:
out2=pd.merge(out2[['recStartedAt', 'recEndedAt', 'equipment_nr','equipmentStatus']],out1[['recStartedAt','ID']],how='left',on='recStartedAt')
out2

,recStartedAt,recEndedAt,equipment_nr,equipmentStatus,ID
0,2020-01-01 01:00:00,2020-01-01 08:00:00,220300010,OK,1
1,2020-01-01 01:00:00,2020-01-01 08:00:00,220300020,OK,1
2,2020-01-01 01:00:00,2020-01-01 08:00:00,220300031,OK,1
3,2020-01-01 01:00:00,2020-01-01 08:00:00,220300032,OK,1
4,2020-01-01 01:00:00,2020-01-01 08:00:00,220300033,OK,1
...,...,...,...,...,...
19635,2022-03-29 00:00:00,2022-03-29 01:00:00,220300032,OK,2455
19636,2022-03-29 00:00:00,2022-03-29 01:00:00,220300033,OK,2455
19637,2022-03-29 00:00:00,2022-03-29 01:00:00,220300034,OK,2455
19638,2022-03-29 00:00:00,2022-03-29 01:00:00,220300035,OK,2455
19639,2022-03-29 00:00:00,2022-03-29 01:00:00,220300036,OK,2455

In [41]:
out2=out2.reset_index().rename(columns={'index':'ID'})

In [42]:
out2.to_csv(out2_path,index=False,sep=';')

In [ ]:
out1.to_csv(out1_path,index=False,sep=';')

#### CV Quality Records.csv

In [84]:
template3='../sustainable-smart-factory-app/db/data/sap.smartfactory-cvQualityRecords.csv'
out3_path='csv/sap.smartfactory-cvQualityRecords.csv'
t3=pd.read_csv(template3,sep=";")
t3

,ID,detectedAt,detectedDate,plant,plantSection,productId,productName,qualityLabel,confidence,image
0,1,2022-03-16 16:11:32.4209753,2022-03-16,1010,YOH,SG23,LGP,Y,0.9,/media/cv/IMG1.bmp
1,2,2022-03-17 12:11:32.8904233,2022-03-17,1010,YOH,SG24,Yee Light,N,0.8,/media/cv/IMG2.bmp
2,3,2022-03-18 16:11:32.4209753,2022-03-18,1010,YOH,SG23,LGP,Y,0.9,/media/cv/IMG1.bmp
3,4,2022-03-19 12:11:32.8904233,2022-03-19,1010,YOH,SG24,Yee Light,N,0.8,/media/cv/IMG2.bmp
4,5,2022-03-20 16:11:32.4209753,2022-03-20,1010,YOH,SG23,LGP,Y,0.9,/media/cv/IMG1.bmp
5,6,2022-03-21 12:11:32.8904233,2022-03-21,1010,YOH,SG24,Yee Light,N,0.8,/media/cv/IMG2.bmp

In [86]:
defects=df[['Timestamp','defectiveProd']].drop_duplicates(['Timestamp'])

In [52]:
defects=defects[defects['Timestamp'].as_type(str)>='2021']

In [87]:
defects['detectedDate']=defects['Timestamp'].apply(lambda x: str(x).split(' ')[0])
defects=defects[defects['detectedDate']>='2021']
defects

                 Timestamp  defectiveProd detectedDate
70264  2021-01-01 00:00:00       1.555849   2021-01-01
70272  2021-01-01 01:00:00       1.550748   2021-01-01
70280  2021-01-01 02:00:00       1.541673   2021-01-01
70288  2021-01-01 03:00:00       1.536600   2021-01-01
70296  2021-01-01 04:00:00       1.519474   2021-01-01
...                    ...            ...          ...
157016 2022-03-28 20:00:00       1.516571   2022-03-28
157024 2022-03-28 21:00:00       1.523282   2022-03-28
157032 2022-03-28 22:00:00       1.526008   2022-03-28
157040 2022-03-28 23:00:00       1.525576   2022-03-28
157048 2022-03-29 00:00:00       1.501550   2022-03-29

[10849 rows x 3 columns]

In [88]:
import glob
import random

image_list=glob.glob('../ai-models/defect-detection/data/Images/NG/*')
image=[]
detectedAt=[]
detectedDate=[]
for idx,row in defects.iterrows():
    for d in range(0,int(row['defectiveProd'])):
        im=random.choice(image_list).split('/')[-1]
        image.append('/media/cv/{}'.format(im))
        detectedAt.append(row['Timestamp']) 
        detectedDate.append(row['detectedDate']) 

        
        
ID=[i for i in range(1,len(image)+1)]
plant=[1010 for i in range(1,len(image)+1) ]
plantSection=['YOH' for i in range(1,len(image)+1)]
productId=['SG23' for i in range(1,len(image)+1)]
productName=['LGP' for i in range(1,len(image)+1)]
qualityLabel=['N' for i in range(1,len(image)+1)]
confidence=[np.random.uniform(0.8,0.98)for i in range(1,len(image)+1) ]

In [89]:
out3=pd.DataFrame(data={'ID':ID \
                       ,'detectedAt':detectedAt \
                       ,'detectedDate':detectedDate \
                       ,'plant':plant \
                       ,'plantSection':plantSection \
                       ,'productId':productId \
                       ,'productName':productName \
                       ,'qualityLabel':qualityLabel \
                       ,'confidence':confidence \
                       ,'image':image \
                       })

In [90]:
out3.to_csv(out3_path,index=False)

### cv quality record

In [ ]:
t3=pd.read_csv('../sustainable-smart-factory-app/db/data/sap.smartfactory-CVQualityRecords.csv',sep=';')

In [79]:
t3.columns

Index(['ID', 'detectedAt', 'detectedDate', 'plant', 'plantSection',
       'productId', 'productName', 'qualityLabel', 'confidence', 'image'],
      dtype='object')

### for SAC predictive scenario

#### maintenance costs

In [ ]:
df2['month']=df2['start_time'].apply(lambda x: ('-').join(x.split('-')[0:2]) )
df2['Maintenance Category']='MC01'
df2.loc[ df2['maint_nr'].str.contains('CYCLIC'),'Maintenance Category' ]='MC02'
df2.loc[ df2['maint_nr'].str.contains('CORRECTIVE'),'Maintenance Category' ]='MC03'

In [ ]:
df2=df2.rename(columns={'equipment_nr':'equipment'})[['equipment','month','Maintenance Category','cost']]

In [ ]:
sk=factory.copy()
sk['month']=sk['recStartedAt'].apply(lambda x: ('-').join(x.split('-')[0:2]) )
sk=sk[['funcLocation','equipment','month']]
sk=sk.drop_duplicates()
sk

In [ ]:
mc=pd.DataFrame(data={
                     'Maintenance Category':['MC01','MC02','MC03']})
mc

In [ ]:
sk=pd.merge(sk,mc,how='cross')
sk

In [ ]:
sk=pd.merge(sk, df2, how='left', on=['equipment','Maintenance Category','month'])
sk=sk.fillna(0)
sk

In [ ]:
sk.to_csv('csv/maintenance_cost_per_month.csv',index=False)

In [ ]:
montly_df=df

### Energy consumption, CO2 emissions, Total Yield, N Defects

In [ ]:
df

In [ ]:
CO2= 0.0301  # kg/kW

In [ ]:
#compute additional columns
df['effectiveYield']= df['yield']-df['defectiveProd']
df['PlantCO2Emissions']= df['energyCons']*CO2

df['Timestamp']=pd.to_datetime(df['Timestamp'])
df=df.fillna('-')
df['year_month']=df['Timestamp'].apply(lambda x: str(x.year)+'-'+str(x.month).zfill(2))

plant_cols=[ c for c in cols if 'plant' in c ]
#machine_cols=[ c for c in cols if 'Machine' in c ]
plant_measures=['yield','defectiveProd','effectiveYield','energyCons','PlantCO2Emissions']
#machine_measures=['MachineEnergyConsumption (kW)','MachineCO2Emissions', 'PlantEnergyCost']

#aggregate monthly
dfm=df.drop_duplicates(subset=['Timestamp']+plant_cols)
dfm=dfm.groupby(['year_month','plant'],as_index=False)[plant_measures].sum()

In [ ]:
dfm.to_csv('csv/yield_and_energy_per_month.csv',index=False)

### energy per machine

In [ ]:
df_running=df[df['PlantStatus']==1]

In [ ]:
df_running['MachineCO2Emissions (kg)']=df['MachineEnergyConsumption (kW)']*CO2

In [ ]:
machine_measures=['MachineEnergyConsumption (kW)','MachineCO2Emissions (kg)']

#aggregate monthly
machine_cols=[ c for c in cols if 'Machine' in c ]

dfm=df_running.drop_duplicates(subset=['Timestamp']+machine_cols)
dfm=dfm.groupby(['year_month','Machine'],as_index=False)[machine_measures].sum()

In [ ]:
dfm

In [ ]:
dfm.to_csv('csv/energy_per_equipment_month.csv',index=False)